* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Manrope', sans-serif;
}
html{
  height: 100%;
}
.main-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {  
  display: block;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E5E9F2;
  height: 73px;
}
.header-conteiner {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 40px;
}
.nav {
  font-weight: bold;
  font-size: 14px;
  color: #18191f;
}
.nav-link{
  margin-right: 32px;
  color: #18191f;
  text-decoration: none;
}
.nav-link:last-child {
  margin-right: 0;
}
.nav-link:hover {
  color:#8c30f5;
}
.appstore {
  margin-left: auto;
  display: flex;
  column-gap: 12px;
}

/* main */
.main {
}
.main-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 197px 0;
  align-items: center;
}
.main-content {  
  font-size: 18px;
  width: 540px;
}
.main-content p {
  line-height: 32px;
  margin: 0;
  margin-bottom: 16px;
  line-height: 32px;
  font-weight: 400;
  font-size: 18px;
  }
.main-header {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  color: #18191f;

}
.button {
  display: inline-block;
  height: 62px;
  background-color: #8c30f5;
  border-radius: 8px;
  padding:0 35px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 62px;
}
.button:hover {
  opacity: 0.8;
}

/* footer */
.footer {
  display: flex;
  align-items:center;
  height: 72px;
  background: #0b0d17;
  color: #d9dbe1;
}
.footer-conteiner {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyrigth p{
  margin: 0;
  font-size: 14px;
}
.footer-socials {
  display: flex;
}
.footer-socials-item {
  margin-left: 16px;
}